<footer>
    <style>
        footer{
                background-color: #164863;
            }
        .footer{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 23px 0;
        }
        .footer p{
            font-size: 14px;
            text-transform: capitalize;
            color: #f1f1f1;
        }
        @media (max-width: 800px) {
            .footer{
                padding: 24px 0;
            }
        }
    </style>
    <div class="footer"><p>copyright &copy; Jomari&Jamica Subcontractor Garments</p></div>
</footer>